name: ci
on: pull_request
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      BATON_TOKEN: ${{ secrets.BATON_TOKEN }}
      BATON_BUSINESS_PLUS_TOKEN: ${{ secrets.BATON_BUSINESS_PLUS_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-slack
        run: go build ./cmd/baton-slack
      - name: Grant/revoke
        uses: ConductorOne/github-workflows/actions/sync-test@v4
        with:
          connector: ./baton-slack
          baton-entitlement: 'group:S0A1RHL4CP5:member'
          baton-principal: 'U0847EPUZ0R'
          baton-principal-type: 'user'
